<div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3>{{menu? ('MENU.FORM.TITLEADD'  | translate) : ('MENU.FORM.TITLEEDIT'  | translate)}}</h3>
          <hr>
          <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
              <div class="row match-height">
              <div class="col-sm-6 col-12">
                <label> {{'MENU.FORM.NAME' | translate}}</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Name"
                  [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors,'is-valid' : f.name.touched && f.name.valid }"
                  required />
                <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">{{'MENU.FORM.VALIDATION.NAME' | translate}} </div>
                </div>
              </div>

              <div class="col-sm-6 col-12">
                <label>{{'MENU.FORM.UPDATED_DATE' | translate}} </label>
                <input formControlName="updated_date" type="date" class="form-control" placeholder="updated_date"
                  [ngClass]="{ 'is-invalid': f.updated_date.touched && f.updated_date.errors,'is-valid' : f.updated_date.touched && f.updated_date.valid }"
                  required />
                <div *ngIf="f.updated_date.touched && f.updated_date.errors" class="invalid-feedback">
                  <div *ngIf="f.updated_date.errors.required">{{'MENU.FORM.VALIDATION.UPDATED_DATE' |translate}}</div>
                </div>
              </div>
              <div class="col-md-12 col-12" style="padding: 10px;">
            </div>

              <div class="col-sm-6 col-12">
                <label>{{'MENU.FORM.MENU_ID' | translate}}</label>
                <input formControlName="menu_id" type="text" class="form-control" placeholder="Menu_id"
                  [ngClass]="{ 'is-invalid': f.menu_id.touched && f.menu_id.errors,'is-valid' : f.menu_id.touched && f.menu_id.valid }"
                  required />
                <div *ngIf="f.menu_id.touched && f.menu_id.errors" class="invalid-feedback">
                  <div *ngIf="f.menu_id.errors.required">{{'MENU.FORM.VALIDATION.MENU_ID' |translate}}</div>
                </div>
              </div>

              <div class="col-sm-6 col-12">
                <label>{{'MENU.FORM.ORGANIZATION'| translate}}</label>
                <input formControlName="Organization" type="text"  class="form-control" placeholder="organization"
                  [ngClass]="{ 'is-invalid': f.organization.touched && f.organization.errors,'is-valid' : f.organization.touched && f.organization.valid }" />
  
                <div *ngIf="f.organization.touched && f.organization.errors" class="invalid-feedback">
                  <div *ngIf="f.organization.errors.required">{{'MENU.FORM.VALIDATION.ORGANIZATION' |translate}}
                  </div>
                <div *ngIf="f.organization.errors.organization">{{'MENU.FORM.VALIDATION.ORGANIZATION' |translate}}</div>
               </div>
              </div>
              
              <div class="col-sm-6 col-12">
                <label>{{'MENU.FORM.UPDATED_BY' | translate}} </label>
                <input formControlName="updated_by" type="text" class="form-control" placeholder="updated_by"
                  [ngClass]="{ 'is-invalid': f.updated_by.touched && f.updated_by.errors,'is-valid' : f.updated_by.touched && f.updated_by.valid }"
                  required />
                <div *ngIf="f.updated_by.touched && f.updated_by.errors" class="invalid-feedback">
                  <div *ngIf="f.updated_by.errors.required">{{'MENU.FORM.VALIDATION.UPDATED_BY' |translate}}</div>
                </div>
              </div>

              
              <div class="col-sm-6 col-12">
                <label>{{'MENU.FORM.CREATED_DATE' | translate}} </label>
                <input formControlName="created_date" type="date" class="form-control" placeholder="created_date"
                  [ngClass]="{ 'is-invalid': f.created_date.touched && f.created_date.errors,'is-valid' : f.created_date.touched && f.created_date.valid }"
                  required />
                <div *ngIf="f.created_date.touched && f.created_date.errors" class="invalid-feedback">
                  <div *ngIf="f.created_date.errors.required">{{'MENU.FORM.VALIDATION.CREATED_DATE' |translate}}</div>
                </div>
              </div>

              
              <div class="col-sm-6 col-12">
                <label>{{'MENU.FORM.CREATED_BY' | translate}} </label>
                <input formControlName="Created_by" type="text" class="form-control" placeholder="Created_by"
                  [ngClass]="{ 'is-invalid': f.created_by.touched && f.created_by.errors,'is-valid' : f.created_by.touched && f.created_by.valid }"
                  required />
                <div *ngIf="f.created_by.touched && f.created_by.errors" class="invalid-feedback">
                  <div *ngIf="f.created_by.errors.required">{{'MENU.FORM.VALIDATION.CREATED_BY' |translate}}</div>
                </div>
              </div>
              <div class="col-md-12 col-12" style="padding: 10px;">
               </div>
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <button type="submit"  class="btn btn-primary float-right" >Save</button>
                  <button type="button" (click)="onCancel()" class="btn btn-warning float-right" style="margin-right: 27px;">
                    Cancel
                  </button>               
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  
  
  
    </div>
  </div>