<div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3>{{user? ('USER.FORM.TITLEADD'  | translate) : ('USER.FORM.TITLEEDIT'  | translate)}}</h3>
          <hr>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
            <div class="row match-height">
              <div class="col-sm-6 col-12">
                <label> {{'USER.FORM.NAME' | translate}}</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Name"
                  [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors,'is-valid' : f.name.touched && f.name.valid }"
                  required />
                <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">{{'USER.FORM.VALIDATION.NAME' | translate}} </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <label>{{'USER.FORM.ORGID' | translate}} </label>
                <input formControlName="Org ID" type="text" class="form-control" placeholder="Org_Id"
                  [ngClass]="{ 'is-invalid': f.Org_Id.touched && f.Org_Id.errors,'is-valid' : f.Org_Id.touched && f.Org_Id.valid }"
                  required />
                <div *ngIf="f.Org_Id.touched && f.Org_Id.errors" class="invalid-feedback">
                  <div *ngIf="f.Org_Id.errors.required">{{'USER.FORM.VALIDATION.ORGID' |translate}}</div>
                </div>
              </div>
  
              <div class="col-md-12 col-12" style="padding: 10px;">
  
              </div>
              <div class="col-sm-6 col-12">
                <label>{{'USER.FORM.UPDATEDNAME' | translate}}</label>
                <input formControlName="Updated Name" type="text" class="form-control" placeholder="Updated Name"
                  [ngClass]="{ 'is-isnvalid': f.updatedName.touched && f.updatedName.errors,'is-valid' : f.updatedName.touched && f.updatedName.valid }"
                  required />
                <div *ngIf="f.updatedName.touched && f.updatedName.errors" class="invalid-feedback">
                  <div *ngIf="f.updatedName.errors.required">{{'USER.FORM.VALIDATION.UPDATEDNAME' |translate}}</div>
                </div>
              </div>
              
  
              <div class="col-sm-6 col-12">
                <label>{{'USER.FORM.CREATEDDATE' | translate}} </label>
                <input type="Date" formControlName="Date" class="form-control" placeholder="Date"
                  [ngClass]="{ 'is-invalid': f.createdDate.touched && f.createdDate.errors,'is-valid' : f.createdDate.touched && f.createdDate.valid }" required />
  
                <div *ngIf="f.createdDate.touched && f.createdDate.errors" class="invalid-feedback">
                  <div *ngIf="f.createdDate.errors.required">{{'USER.FORM.VALIDATION.CREATEDDATE' |translate}}
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12" style="padding: 10px;"></div>

               

                  <div class="col-sm-6 col-12">
                    <label>{{'USER.FORM.CREATEDNAME' | translate}}</label>
                    <input formControlName="Created Name" type="text" class="form-control" placeholder="Created Name"
                      [ngClass]="{ 'is-isnvalid': f.createdName.touched && f.createdDate.errors,'is-valid' : f.createdDate.touched && f.createdName.valid }"
                      required />
                    <div *ngIf="f.createdName.touched && f.createdName.errors" class="invalid-feedback">
                      <div *ngIf="f.createdName.errors.required">{{'USER.FORM.VALIDATION.UPDATEDNAME' |translate}}</div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-12">
                    <label>{{'USER.FORM.ACTIVATE' | translate}}</label>
                    <input formControlName="Activate" type="text" class="form-control" placeholder="Activate"
                      [ngClass]="{ 'is-isnvalid': f.activate.touched && f.activate.errors,'is-valid' : f.activate.touched && f.activate.valid }"
                      required />
                    <div *ngIf="f.activate.touched && f.activate.errors" class="invalid-feedback">
                      <div *ngIf="f.activate.errors.required">{{'USER.FORM.VALIDATION.ACTIVATE' |translate}}</div>
                    </div>
                  </div>

                  <div class="col-md-12 col-12" style="padding: 10px;"></div>

                  <div class="col-sm-6 col-12">
                    <label>{{'USER.FORM.ACTION' | translate}}</label>
                    <input formControlName="Action" type="text" class="form-control" placeholder="Action"
                      [ngClass]="{ 'is-isnvalid': f.action.touched && f.action.errors,'is-valid' : f.action.touched && f.action.valid }"
                      required />
                    <div *ngIf="f.action.touched && f.action.errors" class="invalid-feedback">
                      <div *ngIf="f.action.errors.required">{{'USER.FORM.VALIDATION.ACTION' |translate}}</div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-12">
                    <label>{{'USER.FORM.PARENTID' | translate}}</label>
                    <input formControlName="Parent Id" type="number" class="form-control" placeholder="Parent Id"
                      [ngClass]="{ 'is-isnvalid': f.parentId.touched && f.parentId.errors,'is-valid' : f.parentId.touched && f.parentId.valid }"
                      required />
                    <div *ngIf="f.parentId.touched && f.parentId.errors" class="invalid-feedback">
                      <div *ngIf="f.parentId.errors.required">{{'USER.FORM.VALIDATION.PARENTID' |translate}}</div>
                    </div>
                  </div>

                  <div class="col-md-12 col-12" style="padding: 10px;"></div>

                  <div class="col-sm-6 col-12">
                    <label>{{'USER.FORM.PARENTNAME' | translate}}</label> 
                    <input formControlName="Parent Name" type="text" class="form-control" placeholder="Parent Name"
                      [ngClass]="{ 'is-isnvalid': f.parentName.touched && f.parentName.errors,'is-valid' : f.parentName.touched && f.parentName.valid }"
                      required />
                    <div *ngIf="f.parentName.touched && f.parentName.errors" class="invalid-feedback">
                      <div *ngIf="f.parentName.errors.required">{{'USER.FORM.VALIDATION.PARENTNAME' |translate}}</div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-12">
                    <label>{{'USER.FORM.IMPORT' | translate}}</label>
                    <input formControlName="Import" type="text" class="form-control" placeholder="Import"
                      [ngClass]="{ 'is-isnvalid': f.import.touched && f.import.errors,'is-valid' : f.import.touched && f.import.valid }"
                      required />
                    <div *ngIf="f.import.touched && f.import.errors" class="invalid-feedback">
                      <div *ngIf="f.import.errors.required">{{'USER.FORM.VALIDATION.IMPORT' |translate}}</div>
                    </div>
                  </div>
                  
   
              </div>
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <button type="submit"  class="btn btn-primary float-right" (click)="onSubmit()">Register</button>
                  <button type="button" (click)="onCancel()" class="btn btn-warning float-right" style="margin-right: 27px;">
                    Cancel
                  </button>               
                </div>
              </div>
        
          </form>
        </div>
      </div>
  
  
  
    </div>
  