<div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3>{{moduleOpration? ('MODULEOPERATION.FORM.TITLEADD'  | translate) : ('MODULEOPERATION.FORM.TITLEEDIT'  | translate)}}</h3>
          <hr>
          <form [formGroup]="moduleOprationForm" (ngSubmit)="onSubmit()">
  
            <div class="row match-height">
              <div class="col-sm-6 col-12">
                <label> {{'MODULEOPERATION.FORM.NAME' | translate}}</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Name"
                  [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors,'is-valid' : f.name.touched && f.name.valid }"
                  required />
                <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">{{'MODULEOPERATION.FORM.VALIDATION.NAME' | translate}} </div>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <button type="submit"  class="btn btn-primary float-right" >Register</button>
                  <button type="button" (click)="onCancel()" class="btn btn-warning float-right" style="margin-right: 27px;">
                    <!-- <button (click)="onSubmit()">Register</button> -->
                    Cancel
                  </button>               
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  
  
  
    </div>
  </div>