<div class="row"  >
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3>{{'MENU.GRID.TITLE'  | translate}}</h3>
        <hr>
        <div class="row">
          <div class="col-md-3 col-sm-6">

            <button type="button" (click)="add()" class="btn btn-outline-primary" rippleEffect>
              <span [data-feather]="'plus-circle'" [class]="'mr-25'"></span>ADD MENU</button>
          </div>
          <div class="col-md-3 col-sm-6">
          </div>
          <div class="col-md-3 col-sm-6">
          </div>
          <div class="col-md-3 col-sm-6">
            <input type="search" placeholder="Search" (keyup)="filterUpdate($event)"
            class="form-control ml-25"  />
          </div>
        </div>
        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [rowHeight]="'auto'" [limit]="10"
          [rows]="menuserviceService.rows" [count]="menuserviceService.rows.length">
           <ngx-datatable-column name="{{'MENU.GRID.NAME' |translate}}" prop="name">
                <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
                  {{row.name}}
                </ng-template>
                
              </ngx-datatable-column>
            <ngx-datatable-column name="{{'MENU.GRID.PARENT_MENU' |translate}}" prop="parent_menu">
                  <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
                    {{row.parent_menu}}
                  </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'MENU.GRID.URL' |translate}}" prop="url" >
                  <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
                    {{row.url}}
                  </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'MENU.GRID.UPDATED_DATE' |translate}}" prop="updated_date">
              <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
                {{row.updated_date}}
              </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{'MENU.GRID.MENU_ID' |translate}}" prop="menu_id">
          <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
            {{row.menu_id}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{'MENU.GRID.ORGANIZATION' |translate}}" prop="organization">
          <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
            {{row.organization}}
          </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'MENU.GRID.UPDATED_BY' |translate}}" prop="updated_by">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.updated_by}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'MENU.GRID.CREATED_DATE' |translate}}" prop="created_date">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.created_date}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'MENU.GRID.CREATED_BY' |translate}}" prop="created_by">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.created_by}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'MENU.GRID.ACTION' |translate}}" prop="id" > 
                  <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
                    <a (click)="edit(row)"><i data-feather="edit"></i></a>  | <a (click)="delete(row)"><i data-feather="trash"></i></a>
                </ng-template>
          </ngx-datatable-column>       
        </ngx-datatable>
      </div>
    </div>
  </div>
</div> 