@import '@core/scss/core.scss';
@import './assets/scss/styles';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.h6, h6 {
    font-size: 0.8rem;
}


.color-transaction-row-green{
    background:#DFF2BF !important;
  }
 .color-transaction-row-red{
    background:#FFCCCC !important;
  }


  .form-control {
    width: calc(100% + 7px) !important;
  }

  .apexcharts-text tspan {
    font-family: inherit;
    font-weight: 600;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active a, .ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager ul li:not(.disabled).active:hover a {
  background-color: #7d7d7d !important;
  color: #fff !important;
  border-radius: 50%;
  width: 40px !important;
  height: 32px;
  padding: 5px;
}