<div class="row"  >
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h3>{{'USER.GRID.TITLE'  | translate}}</h3>
        <hr>
        <div class="row">
          <div class="col-md-3 col-sm-6">

            <button type="button" (click)="add()" class="btn btn-outline-primary" rippleEffect>
              <span [data-feather]="'plus-circle'" [class]="'mr-25'"></span>{{"USER.GRID.ADD" | translate}}</button>
          </div>
          <div class="col-md-3 col-sm-6">
          </div>
          <div class="col-md-3 col-sm-6">
          </div>
          <div class="col-md-3 col-sm-6">
            <input type="search" placeholder="Search" (keyup)="filterUpdate($event)"
            class="form-control ml-25"  />
          </div>
        </div>
        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [rowHeight]="'auto'" [limit]="10"
          [rows]="userService.rows" [count]="userService.rows.length">
          <ngx-datatable-column name="{{'USER.GRID.NAME' |translate}}" prop="name">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.name}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'USER.GRID.EMAIL' |translate}}" prop="email">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.email}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'USER.GRID.MOBILE' |translate}}" prop="mobile">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.mobile}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'USER.GRID.ROLE' |translate}}" prop="roleName">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.roleName}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'USER.GRID.organizationName' |translate}}" prop="organizationName">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.organizationName}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="{{'USER.GRID.updatedBy' |translate}}" prop="updatedBy">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.updatedBy}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{'USER.GRID.UpdateDate' |translate}}" prop="UpdateDate">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              {{row.UpdateDate}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="{{'USER.GRID.ACTION' |translate}}" prop="id">
            <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
              <a (click)="edit(row)"><i  data-feather="edit"></i></a>  |   <a (click)="delete(row)"><i   data-feather="trash"></i></a>
          </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>